## Importing Modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Loading The Dataset

In [2]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Preprocessing

In [5]:
ports = pd.get_dummies(train_data.Embarked , prefix = 'Embarked')
ports.head()

   Embarked_C  Embarked_Q  Embarked_S
0       False       False        True
1        True       False       False
2       False       False        True
3       False       False        True
4       False       False        True

In [6]:
train_data = train_data.join(ports)
train_data.drop(['Embarked'],axis = 1 , inplace = True)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,False,False,True

In [7]:
def NumericGender(g):
        if g == 'female':
            return 1
        if g == 'male':
            return 0

In [8]:
train_data['Sex'] = train_data['Sex'].apply(NumericGender)
train_data['Sex'].unique()

array([0, 1], dtype=int64)

In [9]:
#train_data.Sex.map({'male' : 0 ,'female' : 1})
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,False,False,True

In [10]:
y = train_data.Survived.copy()
x = train_data.drop(['Survived'] ,axis = 1 )

In [11]:
x.drop(['Cabin' , 'Ticket' , 'Name' , "PassengerId"], axis = 1 , inplace = True)

In [12]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         714 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    bool
 7   Embarked_Q  891 non-null    bool
 8   Embarked_S  891 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 44.5 KB

In [13]:
x.isnull().values.any()

True

In [14]:
x[pd.isnull(x).any(axis = 1)]

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
5,3,0,NaN,0,0,8.4583,False,True,False
17,2,0,NaN,0,0,13.0000,False,False,True
19,3,1,NaN,0,0,7.2250,True,False,False
26,3,0,NaN,0,0,7.2250,True,False,False
28,3,1,NaN,0,0,7.8792,False,True,False
...,...,...,...,...,...,...,...,...,...
859,3,0,NaN,0,0,7.2292,True,False,False
863,3,1,NaN,8,2,69.5500,False,False,True
868,3,0,NaN,0,0,9.5000,False,False,True
878,3,0,NaN,0,0,7.8958,False,False,True
888,3,1,NaN,1,2,23.4500,False,False,True

In [15]:
x.Age.fillna(x.Age.mean() ,inplace = True)

In [16]:
x.isnull().values.any()

False

In [17]:
from sklearn.model_selection import train_test_split
x_train ,x_valid, y_train , y_valid = train_test_split(x , y , test_size= 0.2 , random_state = 7)

## Logistic Regression Model

In [18]:
from sklearn.linear_model import LogisticRegression
LogisticRegressionModel = LogisticRegression()
x_train
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 205 to 175
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      712 non-null    int64
 1   Sex         712 non-null    int64
 2   Age         712 non-null    float64
 3   SibSp       712 non-null    int64
 4   Parch       712 non-null    int64
 5   Fare        712 non-null    float64
 6   Embarked_C  712 non-null    bool
 7   Embarked_Q  712 non-null    bool
 8   Embarked_S  712 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 41.0 KB

In [19]:
LogisticRegressionModel.fit(x_train , y_train)

LogisticRegression()

In [20]:
LogisticRegressionModel.score(x_train , y_train)

0.8089887640449438

In [21]:
LogisticRegressionModel.score(x_valid , y_valid)

0.7541899441340782

## Support Vector Classifier Model

In [22]:
from sklearn.svm import SVC
SVCmodel = SVC()

In [23]:
SVCmodel.fit(x_train , y_train)

SVC()

In [24]:
SVCmodel.score(x_train , y_train)

0.6643258426966292

In [25]:
SVCmodel.score(x_valid , y_valid)

0.7094972067039106

## Random Forest Model

In [26]:
from sklearn.ensemble import RandomForestClassifier
RandomForestModel = RandomForestClassifier()

In [27]:
RandomForestModel.fit(x_train , y_train)

RandomForestClassifier()

In [29]:
RandomForestModel.score(x_train , y_train)

0.9831460674157303

In [30]:
RandomForestModel.score(x_valid , y_valid)

0.770949720670391

## Decision Tree Model

In [31]:
from sklearn.tree import DecisionTreeClassifier
DecisionTreeModel = DecisionTreeClassifier()

In [32]:
DecisionTreeModel.fit(x_train , y_train)

DecisionTreeClassifier()

In [33]:
DecisionTreeModel.score(x_train , y_train)

0.9831460674157303

In [34]:
DecisionTreeModel.score(x_valid , y_valid)

0.7318435754189944

## Comparison Of Models

In [35]:
print("Logistic Regression Model - " ,LogisticRegressionModel.score(x_train , y_train))
print("Support Vector Classifier Model - ", SVCmodel.score(x_train , y_train))
print("Random Forest Model - ", RandomForestModel.score(x_train , y_train))
print("Decision Tree Model - ", DecisionTreeModel.score(x_train , y_train))

Logistic Regression Model -  0.8089887640449438
Support Vector Classifier Model -  0.6643258426966292
Random Forest Model -  0.9831460674157303
Decision Tree Model -  0.9831460674157303